body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    color:white;
    background-size: cover;  
}
/*#my-canvas {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    color:white;
    background-size: cover;  

}*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-left:25px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: black;
}
.btn:hover {
    background-color: black;
    color: white;
}